body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(116.68deg, #FF6464 10%, #0094FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 350px;
    height: 550px;
    background: rgba(217, 217, 217, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 24px;

    margin: 10vh 5vw;

}


